* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

body,
html {
  height: 100%;
  width: 100%;
}

.navLanding {
  height: 100px;
  padding-inline: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 999;
  box-sizing: border-box;
  top: 0;
  overflow-x: hidden;
}

.logo {

  height: clamp(50px, 4vw, 60px);

  margin-left: 2vw;

}

.logo img {
  height: 100%;
  width: 100%;
}

.nav-items {
  display: flex;
  gap: clamp(20px, 2vw, 30px);
  list-style: none;

}

.nav-items li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: clamp(16px, 2vw, 18px);
}

.cta-nav {

  display: flex;
  gap: 20px;
  margin-right: 2vw;

}

.cta-nav button {
  padding-block: clamp(8px, 2vw, 10px);
  padding-inline: clamp(25px, 4vw, 40px);
  gap: 20px;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 500;
  border: 2px solid black;
  background-color: black;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

}



.login-cta {
  background-color: white;
}



/* hero section */
.hero-sec {
  padding-inline: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  overflow-x: hidden;
  padding-bottom: 20px;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  z-index: -999;
  width: 100vw;
  height: 85vh;
  opacity: 0.6;

}

.hero-right {

  width: 55vw;
  height: 85vh;

  position: relative;
}

.hero-right img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 45vw;
  width: 100%;
}

.hero-left h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: clamp(36px, 5vw, 70px);

  font-weight: bolder;
  line-height: clamp(42px, 5vw, 80px);

}

.hero-left p {
  font-size: clamp(18px, 2vw, 30px);
  font-family: 'Inter', sans-serif;
}


.btn-hero-left button {
  padding-inline: clamp(30px, 3vw, 50px);
  padding-block: clamp(7px, 2vw, 10px);
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;

}

.learn-btn-hero {
  background-color: black;
  color: white;
  margin-left: 40px;
}

@media(max-width:750px) {

  .hero-right {

    width: 90%;
    z-index: -99;
    height: clamp(300px, 65vw, 400px);
    opacity: 0.9;
    position: absolute;
    top: 0;
  }

  .hero-bg {
    opacity: 1;
    height: 100%;
  }

  .hero-right img {
    display: none;
    width: 100%;
    position: absolute;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100vw;
    height: 75vh;

    margin-top: 20px;

    width: 100%;


    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-left h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(36px, 6vw, 70px);


    font-weight: bolder;
    line-height: clamp(40px, 5vw, 80px);

  }

  .hero-left p {
    font-size: clamp(18px, 2vw, 30px);
    font-family: 'Inter', sans-serif;
  }


  .btn-hero-left button {
    padding-inline: clamp(21px, 3vw, 50px);
    padding-block: clamp(7px, 2vw, 10px);
    gap: 20px;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;

  }

  .learn-btn-hero {
    background-color: black;
    color: white;
    margin-left: 40px;
  }
}

/* login page css */
.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
  gap: 20px;
  padding-inline: 5vw;
  padding-top: 60px;


}

.login-page h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: clamp(27px, 5vw, 50px);
  text-align: center;
}

.login-page-content {
  display: flex;

  border-radius: 5px;
  border: 2px solid black;
  padding-inline: 50px;
  padding-block: 30px;
  margin-inline: 5vw;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login-page-content img {
  max-width: 200px;
  width: 100%;
}

.login-page-content input {
  height: clamp(45px, 4vw, 50px);
  max-width: 300px;
  width: 100%;

  background: white;
  border: 2px solid black;
  border-radius: 5px;
  padding-inline: 10px;
  box-sizing: border-box;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: bold;

}

.login-page-content input::placeholder {
  font-weight: normal;
}

.login-page-content button {
  padding-inline: clamp(40px, 2vw, 50px);
  padding-block: 10px;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: clamp(16px, 2v, 18px);
  font-weight: bold;
  letter-spacing: 1px;
}

.login-page-content h3 {
  font-size: clamp(14px, 2vw, 18px);

}

.login-page a {
  color: rgb(17, 108, 122);
}

.login-page h3 {
  font-size: clamp(14px, 2vw, 18px);
}

/* register  */
.register-main {

  width: 100vw;

  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  text-align: center;
  padding: 5vw;
  margin-top: 20px;

}

.register-main h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: clamp(36px, 4vw, 50px);

}

.register-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: auto;
  width: 100%;
  padding-block: 30px;
  border: 2px solid black;
  border-radius: 5px;
  padding-inline: clamp(15px, 2vw, 30px);
  box-sizing: border-box;
  align-items: center;

}

.register-content select {
  max-width: 300px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-inline: 10px;
  height: clamp(45px, 4vw, 50px);
  border: 2px solid black;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: bold;

}

.register-content img {
  max-width: 200px;
  width: 100%;
}

/* form register */
.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.registerForm input {
  height: clamp(45px, 3vw, 50px);
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  height: clamp(45px, 4vw, 50px);
  border: 2px solid black;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: bold;
  box-sizing: border-box;
}

.registerForm input::placeholder {
  font-weight: normal;
}

.registerForm button {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding-inline: clamp(40px, 4vw, 50px);
  letter-spacing: 1px;
  height: clamp(45px, 5vw, 50px);
  border-radius: 5px;
  font-weight: bold;

}

.verify-otp,
.send-otp {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  gap: 10px;

}

.verify-otp button,
.send-otp button {
  width: 200px;
  padding: 0;

}


/* loader style */


.loader-main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bg-main-loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
  opacity: 0.4;
}

.loader {

  background-color: transparent;
  opacity: 1;
  height: 80px;
  width: 80px;

  border-radius: 50%;
  border: 10px solid black;
  border-top-color: transparent;

  z-index: 99999;
  animation: animateLoader 2s linear infinite;

}

@keyframes animateLoader {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg);
  }

}

.navStudentDashboard {
  border-bottom: 0.5px solid rgba(50, 50, 50, 0.47);
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 999;
}

.nav-right {
  display: flex;
  flex-direction: row;
justify-content: flex-end;
  max-width: 400px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  height: 60px;

margin-left: auto;

  gap: clamp(10px, 2vw, 30px);


}

.searchBarStud {
  max-width: 400px;
  width: 100%;
  height: clamp(40px, 3vw, 50px);
  padding-left: 20px;
  border-radius: 50px;
  border: 2px solid black;
  margin-left: auto;
}

.searchBarStud::placeholder {
  color: rgba(0, 0, 0, 0.419);
}

.fa-bell {

  font-size: clamp(24px, 2vw, 30px);
  color: black;

}

.hamburger {
  display: none;
  position: absolute;
  margin-right: 3vw;
  right: 3vw;
  top: 30%;
  flex-direction: column;
}

.hamburger div {
  background-color: black;
  width: clamp(30px, 2vw, 35px);
  height: 5px;
  margin-top: 5px;
  border-radius: 5px;
  opacity: 1;
  transition: transform  0.3s ease-in-out,opacity 0.3s ease-in-out;

 


}





/*  */

.navigation-dash-main {
  display: flex;
  flex-direction: row;
  margin-left: 0vw;
  
  transition: margin-left 0.3s ease-in-out;
}

.main-left {
  position: fixed;

  border-right: 1px solid rgba(128, 128, 128, 0.705);
  height: 100vh;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: clamp(10px,2vw,30px);
  padding-top: 100px;
  padding-bottom: 20px;

  box-sizing: border-box;
}

.main-left ul {
  list-style: none;

}

.main-left ul li {
  height: 50px;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: bold;
  display: flex;
  gap: 20px;
  padding-inline: 10px;
  border-radius: 5px;
  padding-block: 5px;
  transition: background-color 0.5s ease-in;
  align-items: center;
}

.main-left ul li:hover {
  background-color: rgba(0, 0, 0, 0.219);
}

.main-left ul li a {
  text-decoration: none;
  color: black;
}

.logout-btn {
  background: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  height: 40px;

  bottom: 30px;

}

.main-right {
  margin-left: 350px;
  padding-left: 50px;
  padding-right: 2vw;
  padding-block: 120px;
  font-size: clamp(24px, 4vw, 30px);

}

@media(max-width:600px) {
  .nav-right {
    display: none;
  }

  .hamburger {
    display: flex;

  }
  .navigation-dash-main{
    margin-left: -100vw;

  }
  .main-left{
    max-width: 240px;
  }

.menu-toggle:checked ~ .navigation-dash-main{
  margin-left: 0vw;
  transition: margin-left 0.3s ease-in-out;
}
}


/* Animate Hamburger */
.menu-toggle:checked + .navStudentDashboard .hamburger div:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle:checked + .navStudentDashboard .hamburger div:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .navStudentDashboard .hamburger div:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}